footer {
    background-color: $blacky;
    color: $white;
    padding: 10rem 5rem;
}




.footer1 {
    @include flexbox-center;
    justify-content: space-between;
    // gap: 260px;




    .footer1-1 {
        position: relative;
        font-size: $headings;
        font-weight: bold;

        .f-c-1 {
            position: absolute;
            width: 15rem;
            height: 15rem;
            background-color: rgba(83, 54, 255, 0.5);
            right: 20.2rem;
            border-radius: 70rem;
            filter: blur(8rem);
        }
    }

    .footer1-2 {
        margin-top: 1rem;
        font-size: $paragraphs;
        // padding: 1rem;
    }

    .footer1-2-2 {
        margin-top: 2rem;
    }

    .footer1-3 {
        font-size: $paragraphs;
        margin-top: 1rem;
        display: flex;
    }

    .location {
        margin-left: 2rem;
        // margin-bottom: 10rem;
    }



    .p-inline {
        display: inline;
        margin-left: 2rem;
    }

}

.footer2 {
    @include flexbox-center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;


    margin-top: 5rem;



    label {
        font-size: $paragraphs;
    }

    input {
        width: 100%;
        padding: 1.2rem 2rem;
        margin: .8rem 0;
        box-sizing: border-box;
        border-color: $blacky;
        background-color: $blacky;
        border: none;
        border-bottom: .2rem solid $white;
    }

    input:focus {
        border: none;
    }
}



.footer3 {

    
    margin-top: 5rem;
    flex-wrap: wrap;

    label {
        // display: flex;
        // justify-content: flex-start;
        font-size: $paragraphs;
    }

    textarea {
        width: 100%;
        padding: 1.2rem 2rem;
        box-sizing: border-box;
        border-color: $blacky;
        background-color: $blacky;
        border: none;
        border-bottom: .2rem solid $white;
    }

    textarea:focus {
        border: none;
    }
}

.footer4 {
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 7%;

    .fa-plus {
        color: $purple;

    }
}

.contact {

    @include button;
}


.footer4-2 {
    // margin-top: 10rem;
    position: relative;
    // z-index: 1;

    .f-c-2 {

        position: absolute;
        width: 10rem;
        height: 10rem;
        background-color: rgba(255, 198, 71, 0.5);
        top: 3rem;
        right: 30rem;
        bottom: 0rem;
        border-radius: 70rem;
        // z-index: -1;
        filter: blur(8rem);

    }


}

@media (max-width:$iphone14promax) {
    
    .footer2{
        display: inline-block;
    }

    .footer1-1 {
        position: relative;
        font-size: min(5rem, 11vw);
        font-weight: bold;
    }

    .footer1 .footer1-2 {
        margin-top: 1rem;
        font-size: min(1.7rem ,2vw);
    }

    .footer1 .footer1-3 {
        margin-top: 1rem;
        font-size: min(1.7rem ,2vw);
    }

    .footer2 label {
        font-size: min(1.7rem, 2.5vw);
    }

    .footer3 label {
        font-size: min(1.7rem, 2.6vw);
    }
}



