header{
    margin-left: 5rem;
    margin-right: 5rem;
    // position: sticky;
    // top: 0;
    // left: 0;
    // z-index: 99;

    
}

.container-good-morning {
    // @include flexbox-center;
    display: flex;
    justify-content: space-between;

    font-size: $paragraphs;

    // gap: 84.5%;
    // width: 100%;
    padding: 2rem 0rem;

}

.good-morning-1{

    @include flexbox-center
    
  
}

.good-morning-2{
    display: flex;
    gap: 1rem;
}

.g-i1, .g-i2, .g-i3{
    

   @include flexbox-center;
    height: 2rem;
    width: 2rem;
    background-color: #E6E6E6;
    color: #E6E6E6;
    border-radius: 2rem;
    
}


nav {



    @include space-between;
    padding: 2rem 0;

}



.logo {

    font-size: $headings;    
    font-weight: bolder;

    &::after {
        @include dot;
    }


}

header nav ul {

    @include flexbox-center;
    font-size: $paragraphs;
    gap: 6rem;
    // width: 50%;
    list-style-type: none;
    margin-top: 0rem;

    label {
        color: black;
        // display: none;
        font-size: 0rem;
    }
}

 a {

    text-decoration: none;
    color: black;
    position: relative;
    cursor: pointer;

    &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -2px;
        width: 100%;
        height: .2rem;
        // background: blue;
        background: rgb(2, 170, 236);
        transition: transform 0.3s;
        transform: scaleX(0);
        transform-origin: right;
    }

    &:hover::after {
        transform: scaleX(1);
        transform-origin: left;
    }

}

.hire-me{
    background-color: #5336FF;
    padding: 1.3rem 3.8rem;
    border-radius: 3rem;
    color: white;
    cursor: pointer;
    font-size: $paragraphs;


    &:hover{
        background-color: rgb(2, 170, 236);
    }

    &::after {
        position: relative;
        
        
    }



}


@media only screen and (max-width: 768px){
    
    header{

        .nav-container{
            display: none;
        }
    }

}
