.l-p{

    @include flexbox-center;
    font-size: 5rem;
    font-weight: bold;
    color: $blacky;
    margin-top: 9rem;
}

ul{
    @include flexbox-center;
    flex-wrap: wrap;

    margin-top: 5rem;
    list-style-type: none;
    font-size: 2rem;
    gap: 6rem;

    li:hover{
        color: $purple;
        cursor: pointer;
    }
}


.projects-container{

    margin-top: 5rem;
    @include flexbox-center;
    flex-wrap: wrap;

    img{
        border-radius: 1rem;
    }

    .projects-i2{
        margin: 0 2rem;

        .projects-i2-2{
            margin-top: 1.4rem;

           
        }
    }
    
}


.img-margin{
    margin-left: 2rem;
}

.img-margin1{
    margin-right: 2rem;
}

// .projects-i1{
//     width: 25rem;
//     height: 35rem;
//     background-color: rgba(83, 54, 255, 0.5);
//     filter: blur(8rem);

// }

// .projects-i2{
//     width: 25rem;
//     height: 25rem;
//     background-color: rgba(255, 198, 71, 0.5);
//     filter: blur(8rem);

// }


@media only screen and (max-width:1110){
    // .w-p-2 {
    //     margin-left: 0rem;
        
    // }
}

@media (max-width:430px) {
    .l-p{
        font-size: min(5rem, 11vw);
    }
}