.l-p{

    @include flexbox-center;
    font-size: 5rem;
    font-weight: bold;
    color: $blacky;
    margin-top: 9rem;
}

ul{
    @include flexbox-center;

    margin-top: 5rem;
    list-style-type: none;
    font-size: 2rem;
    gap: 6rem;

    li:hover{
        color: $purple;
        cursor: pointer;
    }
}


.projects-container{

    margin-top: 5rem;
    @include flexbox-center;
    flex-wrap: wrap;

    img{
        border-radius: 1rem;
    }

    .projects-i2{
        margin: 0 2rem;

        .projects-i2-2{
            margin-top: 1.4rem;

           
        }
    }
    
}


.img-margin{
    margin-left: 2rem;
}

.img-margin1{
    margin-right: 2rem;
}