main {

    @include flexbox-center;
    // justify-content: flex-start;
    // flex-wrap: wrap;
    // justify-content: space-evenly;
    gap: 13rem;
    margin: 0 5rem;
    margin-top: 2rem;
}


.designation {

    font-size: min(3rem, 2.083333333vw);

}

.name {

    font-size: min(8rem, 5.555555556vw);
    font-weight: bolder;

    &::after {

        @include dot;
    }
}


.abdul{

    width: 90%;
    height: auto;


}

.m-2{
    @include flexbox-center;
    // margin-right: 22rem;
}

.img-div{
    position: relative;
}

.i1{
    position: absolute;
    width: 25rem;
    height: 35rem;
    background-color: rgba(83, 54, 255, 0.5);
    top: 13rem;
    right: 30rem;
    border-radius: 70rem;
    z-index: -1;
    filter: blur(8rem);


}

// .i2{
//     position: absolute;
//     width: 25rem;
//     height: 25rem;
//     background-color: rgba(255, 198, 71, 0.5);
//     top: 4rem;
//     left: 30rem;
//     border-radius: 70rem;
//     z-index: -1;
//     filter: blur(8rem);


// }

.intro {

    color: $blacky;
    font-size: 1.7rem;
    font-family: $plusjakarta;
    // font-size: $paragraphs;

}

.story {
    font-size: 1.7rem;
    font-weight: bolder;

    color: $purple;
}



@media only screen and (max-width: 768px){

   

    
    main{
        flex-direction: column;
        align-items: normal;
        gap: 0rem;

        .abdul{
            width: 70%;
            height: auto;
        }
    }



}

@media (max-width:768px) {
    
    .intro {

        color: $blacky;
        font-size: min(1.7rem, 2.2vw);
        font-family: $plusjakarta;
        // font-size: $paragraphs;
    
    }
    
    .story {
        font-size: min(1.7rem, 2.2vw);
        font-weight: bolder;
    
        color: $purple;
    }
}