main {
    @include flexbox-center;
    flex-wrap: wrap;
    // justify-content: space-evenly;
    gap: 13rem;
    margin: 0 5rem;
}


.designation {

    font-size: min(3rem, 2.083333333vw);

}

.name {

    font-size: min(8rem, 5.555555556vw);
    font-weight: bolder;

    &::after {

        @include dot;
    }
}


.abdul{
    max-width: 90%;
    height: auto;
}

.m-2{
    @include flexbox-center
}

.img-div{
    position: relative;
}

.i1{
    position: absolute;
    width: 35rem;
    height: 35rem;
    background-color: rgba(83, 54, 255, 0.5);
    top: 13rem;
    right: 30rem;
    border-radius: 70rem;
    z-index: -1;
    filter: blur(8rem);


}

.i2{
    position: absolute;
    width: 58.9rem;
    height: 35rem;
    background-color: rgba(255, 198, 71, 0.5);
    top: 6rem;
    left: 30rem;
    border-radius: 70rem;
    z-index: -1;
    filter: blur(8rem);


}

.intro {

    color: $blacky;
    font-size: $paragraphs;

}

.story {
    font-size: $paragraphs;
    font-weight: bolder;

    color: $purple;
}
