@mixin flexbox-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin space-evenly{

    display: flex;
    justify-content: space-evenly;
}

@mixin space-between{

    display: flex;
    justify-content: space-between;
}

@mixin flex-start{

    display: flex;
    justify-content: flex-start;
}

@mixin flex-column{

    display: flex;
    flex-direction: column;
}

@mixin dot {

    content: '.';
    color: #5336FF;
    position: absolute;
}


@mixin button{
    background-color: #5336FF;
    // padding: 0.5rem 0.5rem;
    border: none;
    border-radius: 3rem;
    color: white;
    width: 22.7rem;
    height: 4.7rem;
    font-size: 1.7rem;
    cursor: pointer;
    font-family: "Plus Jakarta Sans", sans-serif;


    &:hover{
        background-color: rgb(2, 170, 236);
    }

    &::after {
        position: relative;
        
        
    }



}