.section-1{
    @include flexbox-center;
    flex-wrap: wrap;
    // gap: 77rem;
}

.s1-c1{
    margin-left: 6rem;
}

.s1-c2{

    margin-left: 65rem;
    position: relative;
    @include flexbox-center;

   img{
    border-radius: 2rem;
   }

   .expalination1, .expalination2, .expalination3{
    @include flexbox-center;
    flex-direction: column;
    width: 16rem;
    height: 7rem;
    border-radius: 1.4rem;
    background-color: $white;

    p:nth-child(1){
        color: $purple;
        font-size: 2rem;
        font-weight: bold;
    }

    p:nth-child(2){
        color: $blacky;
        font-size: 1rem;
        // font-weight: bold;
    }
   }
}

.digital{
    position: absolute;
    right: 40rem;
    bottom: 20.5rem;
}


.expalination1 {
    position: absolute;
    right: 30.5rem;
    bottom: 45rem;
}


.seo{
    position: absolute;
    top: 40.3rem;
    right: 40rem;
}

.expalination2{
    position: absolute;

    top: 30.9rem;
    right: 50rem;

}

.social{
    position: absolute;
    right: 10rem;
    top: 25rem;
    // left: 50%;
}

.expalination3{
    position: absolute;
    top: 55rem;
    right: 25rem;
    // left: 50%;
}

.plus{

    display: flex;
    justify-content: flex-end;
    background-color: $white;    
    color: $purple;

    width: 20rem;
    height: 66rem;
    

    
}





.project{
    font-size: $headings;
    font-weight: bold;
    color: $blacky;

    // @include dot;
}

.project-intro{

    font-size: $paragraphs;
    margin-top: 2rem;
    color: $blacky;
}



.download {
    margin-top: 2rem;
    background-color: #5336FF;
    padding: 1rem 1rem;
    border: none;
    border-radius: 2rem;
    color: white;
    cursor: pointer;
    font-family: "Plus Jakarta Sans", sans-serif;


    &:hover{
        background-color: rgb(2, 170, 236);
    }

    &::after {
        position: relative;
        
        
    }



}


.sec-2{
    // @include flexbox-center;
    position: relative;

    // background-color: #5336FF;
  
    // justify-content: space-evenly;

    // row-gap: 10%;
    // column-gap: 10%;



}


.s2-i1{

    position: absolute;
    bottom: 19rem;
    right: 60rem;

}

// .s2-i1-1{

//     position: absolute;

// }

// .s2-i2{

//     position: absolute;

// }

// .s2-i2-1{

//     position: absolute;

// }

// .s2-i3{

//     position: absolute;

// }

// .s2-i3-1{

//     position: absolute;

// }

.s2-items{
    @include flexbox-center;
    flex-direction: column;

    background-color: $white;
    width: 10rem;
    height: 6rem;
    border-radius: 1rem;

    .head{
        font-size: 2rem;
        font-weight: bold;
        color: $purple;
    }

    // .para{
    //     font-size: 1.5rem;
    // }
}


.sec-3{
    background-color: $white;
    height: 50rem;
    width: 15rem;
}

.grid-i{

    background-color: $blacky;
    color: white;

    height: 15rem;
    width: 10rem;

}


