.skilly{

    margin-top: 30rem;
}

.skills-expertise {
    @include flexbox-center;
    font-size: 5rem;
    font-weight: bold;
    color: $blacky;
    

    // &::after{
    //     @include dot;
    // }

}

.skills-section{

    margin-top: 5rem;
}

.skills-container-1, section .skills-container-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
}

.skills-container-2{
    margin-top: 2rem;
}

.skills {
    width: 38.7rem;
    height: 26.4rem;
    border: none;
    border-radius: 2rem;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

section .skills-content {
    text-align: center;
}

.skill-heading{
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: bold;
}


.skill-des{
    margin-top: 1rem;
    font-size: 2rem;
    color: $blacky;
}

@media only screen and (max-width:1020px) {

    .skilly{

        margin-top: 40rem;
    }

}


@media (max-width: $iphone14promax) {
    .skills-expertise{
        font-size: min(5rem, 11vw);
    }

    .skilly {
        margin-top: 30rem;
    }
}