@import "fonts.scss";
@import "mixins";
@import "variables";
@import "header";
@import "colors";
@import "main";
@import "section-1";
@import "skills_section";
@import "works_projects_section";
@import "latest_projects_section.scss";
@import "review_section.scss";
@import "blog_post_section.scss";
@import "footer.scss";



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    
    
    font-family: "Plus Jakarta Sans", sans-serif;    
    background-color: #F5F5F5;
    
    overflow-x: hidden;
}

// @media only screen and (max-width:1052px) {
    

//     .i1{
//         height: 10rem;
//         width: 10rem;
//     }
// }


