header {
  padding: 0 5rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  background-color: rgb(243, 241, 241);
}

.container-good-morning {
  display: flex;
  justify-content: space-between;
  font-size: min(1.7rem, 1.5vw);
  padding: 2rem 0rem;
}

.good-morning-1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.good-morning-2 {
  display: flex;
  gap: 1rem;
}

.g-i1,
.g-i2,
.g-i3 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 2rem;
  background-color: #e6e6e6;
  color: #e6e6e6;
  border-radius: 2rem;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}

.logo {
  font-size: min(5rem, 3.4vw);
  font-weight: bolder;
}
.logo::after {
  content: ".";
  color: #5336FF;
  position: absolute;
}

header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: min(1.7rem, 1.5vw);
  gap: 3rem;
  list-style-type: none;
  margin-top: 0rem;
}

a {
  text-decoration: none;
  color: black;
  position: relative;
  cursor: pointer;
}
a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 0.2rem;
  background: rgb(2, 170, 236);
  transition: transform 0.3s;
  transform: scaleX(0);
  transform-origin: right;
}
a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.hire-me {
  background-color: #5336ff;
  padding: 1.3rem 3.8rem;
  border-radius: 3rem;
  color: white;
  cursor: pointer;
  font-size: min(1.7rem, 1.5vw);
}
.hire-me:hover {
  background-color: rgb(2, 170, 236);
}
.hire-me::after {
  position: relative;
}

.menu-icon {
  display: none;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.mobile-nav {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: #282C2F;
  z-index: 1001;
  transition: left 0.3s ease;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
}
.mobile-nav li {
  font-size: 10px;
}

.logo-mb {
  display: flex;
  justify-content: center;
}

.close-btn {
  font-size: 24px;
  cursor: pointer;
  display: block;
  text-align: right;
  margin-bottom: 20px;
  color: white;
}

.sidebar-nav-links {
  margin-top: 61px;
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.sidebar-nav-links li a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 1.2rem;
}

.sidebar-nav-links .hire-me {
  padding: 1.1rem 0.5rem;
}

.background.navActive {
  opacity: 1;
  visibility: visible;
}

.mobile-nav.navActive {
  left: 0;
}

@media only screen and (max-width: 768px) {
  header nav ul {
    display: none;
  }
  .menu-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    cursor: pointer;
  }
}
@media (max-width: 430px) {
  .menu-icon {
    display: flex;
  }
  .container-good-morning {
    font-size: min(1.7rem, 2.5vw);
  }
  .logo {
    font-size: min(5rem, 6vw);
    font-weight: bolder;
  }
}
@media (max-width: 320px) {
  .menu-icon {
    display: flex;
  }
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 13rem;
  margin: 0 5rem;
  margin-top: 15rem;
}

.designation {
  font-size: min(3rem, 2.083333333vw);
}

.name {
  font-size: min(8rem, 5.555555556vw);
  font-weight: bolder;
}
.name::after {
  content: ".";
  color: #5336FF;
  position: absolute;
}

.abdul {
  width: 90%;
  height: auto;
}

.m-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-div {
  position: relative;
}

.i1 {
  position: absolute;
  width: 25rem;
  height: 35rem;
  background-color: rgba(83, 54, 255, 0.5);
  top: 13rem;
  right: 30rem;
  border-radius: 70rem;
  z-index: -1;
  filter: blur(8rem);
}

.i2 {
  position: absolute;
  width: 25rem;
  height: 25rem;
  background-color: rgba(255, 198, 71, 0.5);
  top: 4rem;
  left: 30rem;
  border-radius: 70rem;
  z-index: -1;
  filter: blur(8rem);
}

.intro {
  color: #282C2F;
  font-size: 1.7rem;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.story {
  font-size: 1.7rem;
  font-weight: bolder;
  color: #5336FF;
}

@media only screen and (max-width: 768px) {
  main {
    flex-direction: column;
    align-items: normal;
    gap: 0rem;
  }
  main .abdul {
    width: 70%;
    height: auto;
  }
  .i1 {
    height: 25rem;
  }
  .intro {
    color: #282C2F;
    font-size: min(1.7rem, 2.5vw);
    font-family: "Plus Jakarta Sans", sans-serif;
  }
  .story {
    font-size: min(1.7rem, 2.5vw);
    font-weight: bolder;
    color: #5336FF;
  }
}
@media (max-width: 430px) {
  .i1 {
    height: 15rem;
    top: 3rem;
    right: 18rem;
  }
  .i2 {
    width: 15rem;
    height: 15rem;
    top: 4rem;
    left: 6rem;
  }
  .designation {
    font-size: min(3rem, 4vw);
  }
  .name {
    font-size: min(8rem, 6.555556vw);
    font-weight: bolder;
  }
}
.section-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18rem;
  margin-top: 10rem;
}

.s1-c1 {
  margin-left: 6rem;
}

.s1-c2 {
  margin-left: 65rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.s1-c2 img {
  border-radius: 2rem;
}
.s1-c2 .expalination1,
.s1-c2 .expalination2,
.s1-c2 .expalination3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 16rem;
  height: 7rem;
  border-radius: 1.4rem;
  background-color: #FFFFFF;
}
.s1-c2 .expalination1 p:nth-child(1),
.s1-c2 .expalination2 p:nth-child(1),
.s1-c2 .expalination3 p:nth-child(1) {
  color: #5336FF;
  font-size: 2rem;
  font-weight: bold;
}
.s1-c2 .expalination1 p:nth-child(2),
.s1-c2 .expalination2 p:nth-child(2),
.s1-c2 .expalination3 p:nth-child(2) {
  color: #282C2F;
  font-size: 1rem;
}

.digital {
  position: absolute;
  right: 40rem;
}

.expalination1 {
  position: absolute;
  right: 30.5rem;
  bottom: 5rem;
}

.seo {
  position: absolute;
  top: 18.3rem;
  right: 40rem;
}

.expalination2 {
  position: absolute;
  top: 12.9rem;
  right: 50rem;
}

.social {
  position: absolute;
  right: 10rem;
  top: 1rem;
}

.expalination3 {
  position: absolute;
  top: 30rem;
  right: 25rem;
}

.plus {
  color: #5336FF;
  position: absolute;
  bottom: 10rem;
  right: 15rem;
}

.project {
  font-size: min(5rem, 3.4vw);
  font-weight: bold;
  color: #282C2F;
}

.project-intro {
  font-size: min(1.7rem, 1.5vw);
  margin-top: 2rem;
  color: #282C2F;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.download {
  margin-top: 2rem;
  background-color: #5336FF;
  padding: 1rem 1rem;
  border: none;
  border-radius: 2rem;
  color: white;
  cursor: pointer;
  font-family: "Plus Jakarta Sans", sans-serif;
}
.download:hover {
  background-color: rgb(2, 170, 236);
}
.download::after {
  position: relative;
}

.sec-2 {
  position: relative;
}

.s2-i1 {
  position: absolute;
  bottom: 19rem;
  right: 60rem;
}

.s2-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #FFFFFF;
  width: 10rem;
  height: 6rem;
  border-radius: 1rem;
}
.s2-items .head {
  font-size: 2rem;
  font-weight: bold;
  color: #5336FF;
}

.sec-3 {
  background-color: #FFFFFF;
  height: 50rem;
  width: 15rem;
}

.grid-i {
  background-color: #282C2F;
  color: white;
  height: 15rem;
  width: 10rem;
}

.sec1-i1 {
  position: absolute;
  width: 25rem;
  height: 25rem;
  background-color: rgba(255, 198, 71, 0.5);
  top: 4rem;
  border-radius: 70rem;
  z-index: -1;
  filter: blur(8rem);
}

@media only screen and (max-width: 1151px) {
  .section-1 {
    flex-direction: column;
  }
  .skilly {
    margin-top: 60rem;
  }
  .digital {
    right: 24rem;
  }
  .digital-img {
    width: 210px;
  }
  .expalination1,
  .expalination2,
  .expalination3 {
    width: 10rem;
  }
  .expalination1 {
    right: 16.5rem;
    bottom: 3rem;
  }
  .seo {
    top: 13.3rem;
    right: 25rem;
  }
  .seo-img {
    width: 150px;
  }
  .expalination2 {
    top: 8.9rem;
    right: 31rem;
  }
  .social {
    right: 3rem;
    top: 1rem;
  }
  .social-img {
    width: 200px;
  }
  .expalination3 {
    top: 21rem;
    right: 16rem;
  }
}
@media only screen and (max-width: 660px) {
  .digital {
    right: 33rem;
  }
  .digital-img {
    width: 120px;
  }
  .expalination1,
  .expalination2,
  .expalination3 {
    width: 10rem;
    height: 4rem;
  }
  .expalination1 {
    right: 24.5rem;
    bottom: 1rem;
  }
  .seo {
    top: 7.3rem;
    right: 33rem;
  }
  .seo-img {
    width: 74px;
  }
  .expalination2 {
    top: 4.9rem;
    right: 35rem;
  }
  .social {
    right: 21rem;
    top: 1rem;
  }
  .social-img {
    width: 110px;
  }
  .expalination3 {
    top: 11rem;
    right: 24rem;
  }
  .plus {
    bottom: 4rem;
    right: 21rem;
  }
  .skills {
    width: 29.7rem;
  }
}
@media only screen and (max-width: 430px) {
  .expalination1 {
    width: 10rem;
    height: 4rem;
  }
  .expalination2 {
    width: 10rem;
    height: 4rem;
  }
  .expalination3 {
    width: 10rem;
    height: 4rem;
  }
  .s1-c2 .expalination1, .s1-c2 .expalination2, .s1-c2 .expalination3 {
    width: 10rem;
    height: 4rem;
  }
  .project {
    font-size: min(5rem, 5.4vw);
  }
  .project-intro {
    font-size: min(1.7rem, 2.7vw);
    margin-top: 2rem;
    color: #282C2F;
    font-family: "Plus Jakarta Sans", sans-serif;
  }
}
.skilly {
  margin-top: 30rem;
}

.skills-expertise {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  font-weight: bold;
  color: #282C2F;
}

.skills-section {
  margin-top: 5rem;
}

.skills-container-1, section .skills-container-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
}

.skills-container-2 {
  margin-top: 2rem;
}

.skills {
  width: 38.7rem;
  height: 26.4rem;
  border: none;
  border-radius: 2rem;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}

section .skills-content {
  text-align: center;
}

.skill-heading {
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: bold;
}

.skill-des {
  margin-top: 1rem;
  font-size: 2rem;
  color: #282C2F;
}

@media only screen and (max-width: 1020px) {
  .skilly {
    margin-top: 40rem;
  }
}
@media (max-width: 430px) {
  .skills-expertise {
    font-size: min(5rem, 11vw);
  }
  .skilly {
    margin-top: 30rem;
  }
}
.work-projects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 10rem 0rem;
  margin-top: 5rem;
  background-color: #282C2F;
  background-image: url("/images/Group 2.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.work-projects img {
  margin-top: 2rem;
  width: 100%;
  height: auto;
}

.w-p-1 {
  display: flex;
  flex-direction: column;
}

.w-p {
  font-size: 5rem;
  font-weight: bold;
  color: #FFFFFF;
}
.w-p::after {
  content: ".";
  color: #5336FF;
  position: absolute;
}

.w-p-2 {
  margin-left: 15rem;
  margin-bottom: 5rem;
  font-size: 2rem;
  color: #FFFFFF;
  min-width: 41%;
}
.w-p-2 p:nth-child(1) {
  font-weight: bold;
  font-size: 2rem;
  line-height: 3rem;
}
.w-p-2 p:nth-child(2) {
  margin-top: 1rem;
  font-size: 1.7rem;
}
.w-p-2 p:nth-child(3) {
  margin-top: 1rem;
  font-size: 1.7rem;
  font-weight: 600;
  font-style: italic;
}
.w-p-2 hr {
  margin-top: 5rem;
}
.w-p-2 p:nth-child(5) {
  margin-top: 5rem;
  font-weight: bold;
  font-size: 2rem;
  line-height: 3rem;
}
.w-p-2 p:nth-child(6) {
  margin-top: 1rem;
  font-size: 1.7rem;
}
.w-p-2 p:nth-child(7) {
  margin-top: 1rem;
  font-size: 1.7rem;
  font-weight: 600;
  font-style: italic;
}
.w-p-2 .fa-arrow-right {
  margin-top: 5rem;
  margin-left: 1rem;
}

.download2 {
  background-color: #5336FF;
  border: none;
  border-radius: 3rem;
  color: white;
  width: 22.7rem;
  height: 4.7rem;
  font-size: 1.7rem;
  cursor: pointer;
  font-family: "Plus Jakarta Sans", sans-serif;
  margin-top: 2rem;
  width: 22.7rem;
  height: 4.7rem;
}
.download2:hover {
  background-color: rgb(2, 170, 236);
}
.download2::after {
  position: relative;
}

.carousel-slide {
  display: none;
  transition: all 0.5s ease;
}

.carousel-slide.active {
  display: block;
}

.c2 {
  margin-top: 48px;
}

.c4 {
  margin-top: 48px;
}

@media (max-width: 1112px) {
  .w-p-2 {
    margin-left: 5rem;
  }
}
@media (max-width: 1012px) {
  .w-p-2 {
    margin-left: 2rem;
  }
}
@media (max-width: 981px) {
  .w-p-2 {
    margin-top: 2rem;
  }
}
@media (max-width: 430px) {
  .w-p {
    display: flex;
    justify-content: center;
    font-size: min(1.7rem, 3.9vw);
  }
}
.l-p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  font-weight: bold;
  color: #282C2F;
  margin-top: 9rem;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 5rem;
  list-style-type: none;
  font-size: 2rem;
  gap: 6rem;
}
ul li:hover {
  color: #5336FF;
  cursor: pointer;
}

.projects-container {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.projects-container img {
  border-radius: 1rem;
}
.projects-container .projects-i2 {
  margin: 0 2rem;
}
.projects-container .projects-i2 .projects-i2-2 {
  margin-top: 1.4rem;
}

.projects-i2-1 {
  display: flex;
  gap: 20px;
}

.projects-i2-2 {
  display: flex;
  gap: 20px;
}

.img-margin {
  margin-left: 2rem;
}

.img-margin1 {
  margin-right: 2rem;
}

@media (max-width: 430px) {
  .l-p {
    font-size: min(5rem, 11vw);
  }
  .latest-projects {
    position: relative;
  }
  .projects-container {
    display: grid;
    /* justify-content: center;
    /* align-items: center; */
    /* flex-wrap: wrap; */
    flex-wrap: nowrap;
  }
  .project-i1 {
    width: 125px;
    height: 204px;
    position: absolute;
    left: 5rem;
  }
  .project-i2 {
    width: 169px;
    height: 98px;
    position: absolute;
    right: 7rem;
  }
  .project-i3 {
    width: 166px;
    height: 202px;
    position: absolute;
    bottom: -30rem;
    left: 19rem;
  }
  .project-i4 {
    width: 171px;
    height: 132px;
    position: absolute;
    top: 60rem;
    right: 7rem;
  }
  .project-i5 {
    width: 132px;
    height: 149px;
    position: absolute;
    right: 25rem;
    top: 49rem;
  }
  .project-i6 {
    width: 122px;
    height: 127px;
    position: absolute;
    top: 65rem;
    right: 25rem;
  }
  .review-section {
    margin-top: 40rem;
  }
}
@media (max-width: 375px) {
  .project-i1 {
    width: 125px;
    height: 204px;
    position: absolute;
    left: 5rem;
  }
  .project-i2 {
    width: 169px;
    height: 98px;
    position: absolute;
    right: 2rem;
  }
  .project-i3 {
    width: 166px;
    height: 202px;
    position: absolute;
    bottom: -30rem;
    left: 19rem;
  }
  .project-i4 {
    width: 171px;
    height: 132px;
    position: absolute;
    top: 60rem;
    right: 1rem;
  }
  .project-i5 {
    width: 132px;
    height: 149px;
    position: absolute;
    right: 20rem;
    top: 49rem;
  }
  .project-i6 {
    width: 122px;
    height: 127px;
    position: absolute;
    top: 65rem;
    right: 20rem;
  }
}
@media (max-width: 320px) {
  .project-i1 {
    width: 125px;
    height: 204px;
    position: absolute;
    left: 1rem;
  }
  .project-i2 {
    width: 169px;
    height: 98px;
    position: absolute;
    right: 1rem;
  }
  .project-i3 {
    width: 166px;
    height: 202px;
    position: absolute;
    bottom: -30rem;
    left: 14rem;
  }
  .project-i4 {
    width: 171px;
    height: 132px;
    position: absolute;
    top: 58rem;
    right: 1rem;
  }
  .project-i5 {
    width: 132px;
    height: 149px;
    position: absolute;
    right: 19rem;
    top: 47rem;
  }
  .project-i6 {
    width: 122px;
    height: 127px;
    position: absolute;
    top: 63rem;
    right: 19rem;
  }
}
.review-section {
  margin-top: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30.4rem;
  font-size: 1.7rem;
  font-style: italic;
  color: #FFFFFF;
  background-color: #5336FF;
  background-image: url("/images/Group 3.png");
  background-repeat: no-repeat;
}

.review1, .review2 {
  display: flex;
  text-align: center;
  margin: 0 10rem;
}

.review2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  font-weight: bold;
}

@media (max-width: 430px) {
  .review1, .review2 {
    font-size: min(1.7rem, 3.9vw);
  }
  .review-section {
    margin-top: 55rem;
  }
}
.blog-post {
  margin-top: 5rem;
}

.blog-post1 {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}
.blog-post1 p {
  font-size: 5rem;
  font-weight: bold;
}
.blog-post1 p::after {
  content: ".";
  color: #5336FF;
  position: absolute;
}

.view-more-post {
  background-color: #5336FF;
  padding: 1rem 1rem;
  border: none;
  border-radius: 2rem;
  color: white;
  cursor: pointer;
  font-family: "Plus Jakarta Sans", sans-serif;
}
.view-more-post:hover {
  background-color: rgb(2, 170, 236);
}
.view-more-post::after {
  position: relative;
}

.view-more-post {
  margin-top: none;
}

.blogs-container-1,
section .blogs-container-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
}

.blogs-container-2 {
  margin-top: 2rem;
}

.blogs {
  width: 38.7rem;
  height: 55.8rem;
  border: none;
  border-radius: 1rem;
}

.blogs-content img {
  border-radius: 2rem;
}
.blogs-content p:nth-child(1) {
  margin-top: 2rem;
  color: #5336FF;
  font-size: 2rem;
  font-weight: bold;
}
.blogs-content p:nth-child(2) {
  margin-top: 2rem;
  font-size: 2rem;
  font-weight: bold;
}
.blogs-content p:nth-child(3) {
  margin-top: 2rem;
  color: #282C2F;
  font-size: 1.5rem;
}
.blogs-content p:nth-child(4) {
  margin-top: 2rem;
  color: #5336FF;
  font-size: 2rem;
  font-weight: bold;
}
.blogs-content p:nth-child(5) {
  margin-top: 2rem;
  color: #5336FF;
  font-size: 2rem;
  font-weight: bold;
}

.blogs-content2 p:nth-child(1) {
  margin-top: 2rem;
  color: #5336FF;
  font-size: 2rem;
  font-weight: bold;
}
.blogs-content2 p:nth-child(2) {
  margin-top: 2rem;
  font-size: 2rem;
  font-weight: bold;
}
.blogs-content2 p:nth-child(3) {
  margin-top: 2rem;
  color: #282C2F;
  font-size: 1.5rem;
}
.blogs-content2 p:nth-child(4) {
  margin-top: 2rem;
  color: #5336FF;
  font-size: 2rem;
  font-weight: bold;
}
.blogs-content2 p:nth-child(5) {
  margin-top: 2rem;
  color: #5336FF;
  font-size: 2rem;
  font-weight: bold;
}

.blogs-content {
  border-radius: 2rem;
}

.blog-post2 {
  margin-top: 2rem;
}

@media (min-width: 2560px) {
  .blog-post1 {
    justify-content: center;
    gap: 29%;
  }
}
@media (max-width: 430px) {
  .blog-post1 p {
    font-size: 4rem;
  }
  .blog_post1, .blog_post2, .blog_post3 {
    width: 90%;
    height: auto;
  }
  .blog-content2 {
    font-size: 2rem, 4.6vw;
  }
}
footer {
  background-color: #282C2F;
  color: #FFFFFF;
  padding: 10rem 5rem;
}

.footer1 {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.footer1 .footer1-1 {
  position: relative;
  font-size: min(5rem, 3.4vw);
  font-weight: bold;
}
.footer1 .footer1-1 .f-c-1 {
  position: absolute;
  width: 15rem;
  height: 15rem;
  background-color: rgba(83, 54, 255, 0.5);
  right: 20.2rem;
  border-radius: 70rem;
  filter: blur(8rem);
}
.footer1 .footer1-2 {
  margin-top: 1rem;
  font-size: min(1.7rem, 1.5vw);
}
.footer1 .footer1-2-2 {
  margin-top: 2rem;
}
.footer1 .footer1-3 {
  font-size: min(1.7rem, 1.5vw);
  margin-top: 1rem;
  display: flex;
}
.footer1 .location {
  margin-left: 2rem;
}
.footer1 .p-inline {
  display: inline;
  margin-left: 2rem;
}

.footer2 {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 5rem;
}
.footer2 label {
  font-size: min(1.7rem, 1.5vw);
}
.footer2 input {
  width: 100%;
  padding: 1.2rem 2rem;
  margin: 0.8rem 0;
  box-sizing: border-box;
  border-color: #282C2F;
  background-color: #282C2F;
  border: none;
  border-bottom: 0.2rem solid #FFFFFF;
}
.footer2 input:focus {
  border: none;
}

.footer3 {
  margin-top: 5rem;
  flex-wrap: wrap;
}
.footer3 label {
  font-size: min(1.7rem, 1.5vw);
}
.footer3 textarea {
  width: 100%;
  padding: 1.2rem 2rem;
  box-sizing: border-box;
  border-color: #282C2F;
  background-color: #282C2F;
  border: none;
  border-bottom: 0.2rem solid #FFFFFF;
}
.footer3 textarea:focus {
  border: none;
}

.footer4 {
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 7%;
}
.footer4 .fa-plus {
  color: #5336FF;
}

.contact {
  background-color: #5336FF;
  border: none;
  border-radius: 3rem;
  color: white;
  width: 22.7rem;
  height: 4.7rem;
  font-size: 1.7rem;
  cursor: pointer;
  font-family: "Plus Jakarta Sans", sans-serif;
}
.contact:hover {
  background-color: rgb(2, 170, 236);
}
.contact::after {
  position: relative;
}

.footer4-2 {
  position: relative;
}
.footer4-2 .f-c-2 {
  position: absolute;
  width: 10rem;
  height: 10rem;
  background-color: rgba(255, 198, 71, 0.5);
  top: 3rem;
  right: 30rem;
  bottom: 0rem;
  border-radius: 70rem;
  filter: blur(8rem);
}

@media (max-width: 430px) {
  .footer2 {
    display: inline-block;
  }
  .footer1-1 {
    position: relative;
    font-size: min(5rem, 11vw);
    font-weight: bold;
  }
  .footer1 .footer1-2 {
    margin-top: 1rem;
    font-size: min(1.7rem, 2vw);
  }
  .footer1 .footer1-3 {
    margin-top: 1rem;
    font-size: min(1.7rem, 2vw);
  }
  .footer2 label {
    font-size: min(1.7rem, 2.5vw);
  }
  .footer3 label {
    font-size: min(1.7rem, 2.6vw);
  }
}
.users-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

dialog::backdrop {
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

dialog {
  padding: 0;
}

dialog .wrapper {
  padding: 16px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  background-color: #f5f5f5;
  overflow-x: hidden;
}

.no-overflow {
  overflow-x: none;
  overflow-y: hidden;
}/*# sourceMappingURL=style.css.map */